.page-header
  %h1 登録会社一覧
  %p 本サービスに登録している会社一覧
.row
  .col-md-12
    = flash_message
    = paginate(@companies)
    %table.table
      %thead
        %tr
          %th #
          %th 会社名
          %th 担当者人数
          %th 登録日
          %th 更新日
          %th 公開ページ
      %tbody
        - @companies.each_with_index do |company, index|
          %tr
            %td
              = (@companies.current_page - 1) * @companies.limit_value + index + 1
            %td
              = company.name
            %td
              = company.company_users.size
            %td
              = company.created_at
            %td
              = company.updated_at
            %td
              = link_to "公開ページ", company_path(company.name)
