.page-header
  %h1 会社登録
  %p 本サービスを利用する会社を登録してください。
= simple_form_for([:admin, @company]) do |f|
  - if @company.confirming.blank?
    = f.input :name, placeholder: "株式会社 XXX", required: true
    -#simple fomrに直接指定したい場合は以下のように行う。
    -#= f.input :overview, hint: "※マークダウン形式(省略可)", placeholder: "# 株式会社 XXX\n\n## 概要", input_html: {size: "10x10"}
    = f.input :overview, hint: "※マークダウン形式(省略可)" do
      = markdown_editor do
        - f.text_area :overview, class: "text optional form-control", placeholder: "# 株式会社 XXX\n\n## 概要", size: "10x10"
    = f.button :submit, "確認画面へ進む"

  - else
    .form-group.string
      %label.string.required.control-label
        = t "activerecord.attributes.company.name"
      %p.form-control-static
        = @company.name
    .form-group.string
      %label.string.required.control-label
        = t "activerecord.attributes.company.overview"
      %p.form-control-static
        = @company.overview.gsub("\r\n", "<br/>").html_safe
    = f.hidden_field :name
    -#preserveを使用しないとvalueに無用なスペースが入る。
    = preserve f.hidden_field :overview
    = f.button :submit, "入力画面へ戻る", name: :back
    = f.button :submit, "上記の内容で登録する", class: "btn-success"

  = f.hidden_field :confirming
