<div class="page-header">
  <h1>会社登録</h1>
  <p>本サービスを利用する会社を登録してください。</p>
</div>
<%= simple_form_for([:admin, @company]) do |f| %>
    <% if @company.confirming.blank? %>
        <%= f.input :name, placeholder: "株式会社 XXX", required: true %>
        <%= f.input :overview, hint: "※マークダウン形式(省略可)", placeholder: "# 株式会社 XXX\n\n## 概要", input_html: {size: "10x10"} %>
        <%= f.button :submit, "確認画面へ" %>
    <% else %>
        <%= f.button :submit, "上記の内容で登録する" %>
    <% end %>
    <%= f.hidden_field :confirming %>
<% end %>