<!DOCTYPE html>
<html lang="ja" class="admin <%= controller_name %> <%= action_name %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>管理画面</title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag "/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>

<body>
<% if admin_login? %>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "管理画面", admin_top_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li<%= active_class(:companies, attr: "dropdown") %>>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">会社 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "会社一覧", admin_companies_path %></li>
                <li><%= link_to "会社登録", new_admin_company_path %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">管理者</a></li>
            <li>
              <%= link_to "Sign out", admin_path, method: :delete, data: {confirm: "Sign outします。\nよろしいですか？"} %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<% end %>
<div class="container" role="main">
  <div class="page">
    <%= yield %>
  </div>
</div>

</body>
</html>
